.Rproj.user
.Rhistory
.RData
.Ruserdata
^cran-comments\.md$
docs/*.svg
docs/*.yml
docc/*.js
images
images/*
inst/extdata/BaboonLivingForMetrics.csv
inst/extdata/RhesusMasterForMetrics.csv
inst/extdata/Notes.txt
inst/extdata/PSCPO*.*
inst/extdata/notes.*
!inst/extdata/notes.Rmd
R/groupAssign.R
R/groupAddition.R
R/depricated_groupAssign.R
R/depricated_groupAddition.R
R/depricated_gene.drop.R
^vignettes/interactive_cache$
^vignettes/shiny_app_use_cache$
vignettes/tutorials/*
vignettes/*.tex$
vignettes/*.pdf$
