.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/extdata/BaboonLivingForMetrics.csv
inst/extdata/RhesusMasterForMetrics.csv
inst/extdata/Notes.txt
R/groupAssign.R
R/groupAddition.R
R/depricated_groupAssign.R
R/depricated_groupAddition.R
R/depricated_gene.drop.R
inst/extdata/PSCPO*.*
docs/*.svg
docs/*.yml
docc/*.js
inst/extdata/interactive_use_tutorial_files/Interactive_Use_with_style_sheet.log
inst/extdata/notes.*
!inst/extdata/notes.Rmd
